/* header and jumbotron */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 58px;
    color: white;
}
/* header p{
    font-size: 10px;
    padding: 40px;
    margin: 40px;

} */
header a{
    text-decoration: none;
    color: inherit;
}
header .header_top nav,
header nav ul li,
header .header_top .logo,
header .header_top .central_nav,
header .header_top .right_nav {
    display: inline-block;
}
header .header_top{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 64px;
    width: 100%;
    color: #031c4e;
    text-transform: capitalize;
    background-color: white;
        /* border: 1px solid red; */
}
header  .logo img{
    height:65px;
    width:auto;
    vertical-align: middle;
    padding: 15px;
    padding-left: 2px;
}
header  .central_nav{
    margin: 0 4%;
}
header .central_nav,
header .logo {
    vertical-align: middle;
    float: left;
}
header .right_nav, 
header .hamburger_menu{
    float: right;
}
header nav ul li{
    font-size: 15px;
    line-height: 64px;
    padding: 0 10px;;
}
.btn_sing_up{
    padding:10px;
    background-color: inherit;
    border: 1px solid  #006aff;
    color: #006aff;
    border-radius: 5px;
}
header .hamburger_menu{
    display: none;
    line-height: 65px;
    color: #3a8aff;
    margin-right: 15px;
}

/************JUMBOTRON  */
header .my_jumbotron{
    height: auto;
    width: 100%;
    background-image: url("../img/bg-jumby.svg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    border-top: 64px solid white;
}
header .jumby_content{
    height: auto;
    width: 100%;
        /* border: 1px solid  black; */
}
header .left_jumby{
    margin: 70px 0 0 0;
    width: 55%;
    float: left;
    font-size: 14px;
        border: 2px solid pink;
}
header .left_jumby p{
    padding-top: 5px;
    font-size: 20px;
    line-height: 1.5;
    color: #bbcbfd;
}

header .right_jumby_google{
    height: auto;
    width: 40%;
    max-width: 375px;
    float: right;
    margin:60px 0;
    background-color: white;
    border-radius: 5px;
        /* border: 2px solid pink; */
}
header .right_jumby_google .form_header{
    font-size: 23px;
    text-align: center;
    margin: 40px 0 10px 0;
}
header .right_jumby_google h3{
    color: #031c4e;
    padding: 5px 0;
}
header .right_jumby_google .colored_h3 {
    color: #006aff;
}
header .form_body {
    width: 80%;
    margin: auto;
}
header .form_body form {
    position: relative;
}
header .form_body form label {
    display: none;
}
header .form_body input[type=email],
header .form_body input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #ccc;

}
header .form_body input[type=submit] {
    width: 100%;
    background-color: #579aff;
    color: white;
    padding: 14px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
header .form_body #google_submit {
    position: relative;
    background-color: white;
    -webkit-box-shadow: 2px 2px 4px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    2px 2px 4px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         2px 2px 4px 0px rgba(50, 50, 50, 0.3);
    color: #626262;
}
.google_line{
    position: relative;
    border:1px solid  lawngreen;
}
header .form_body .google_icon{
    position: absolute;
    transform: translate(-1250%, 75%)
}
header .form_body small {
    color: #626262;
    display: inline-block;
    margin: 10px 0 15px 0;
}
header .form_body small a{
    color: rgb(0, 0, 238);
    text-decoration: initial;
}


.width{
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}
.jumby_content, .header_top{
    border: 2px solid red;
}
/* ! RESPONSIVE */ 
/* ! Il sito ha 3 misure :   */ 
/* ! Small = 0-500px         */
/* ! Medium = 501-777px      */
/* ! Large = 778-2000px      */

/* header_top hamburger menu */
@media screen and (max-width:1023px){
    body{
        background-color: rgba(40, 40, 248, 0.564);
        color: blue;
    }
    header .central_nav,
    header .right_nav{
        display: none;
        visibility: hidden;
    }
    header .hamburger_menu{
        display: initial;
    }
}

/* jumbotron SMALL 0-500 */
@media screen and (max-width: 500px ) {
    h1{
        font-size: 38px;
    }
    .jumby_content{
        padding: 0 20px;
    }
    header .form_body {
        width: 90%;
        margin: auto;
    }
    header .left_jumby{
        width: 100%;
        float: none;
        padding: 10px;
    }
    header .right_jumby_google{
        float: none;
        max-width: unset;
        width: 100%;
        margin-top: 15px;
        padding: 25px 0 20px 0;
    }
    body{
        background-color: lawngreen;
    }

    header p{
        color: #bbcdff;
        padding-top: 20px;
    }
}
/* jumbotron MEDIUM 500-778 */
@media screen and (min-width: 500px) and (max-width:777px) {
    h1{
        font-size: 38px;
    }
    .jumby_content{
        padding: 0 20px;
    }
    header .form_body {
        width: 90%;
        margin: auto;
    }
    header .left_jumby{
        width: 100%;
        float: none;
        padding: 10px;
    }
    header .right_jumby_google{
        float: none;
        max-width: unset;
        width: 100%;
        margin-top: 15px;
        padding: 25px 0 20px 0;
    }
    body{
        background-color: lawngreen;
    }

    header p{
        color: #bbcdff;
        padding-top: 20px;
    }
}