*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* .width{
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
} */
.bg_grey{
        /* background-color: lawngreen; */
    background-color:#f3f5f9 ;
}
.bg_gradient{
    background: rgb(0,66,188);
    background: linear-gradient(180deg, rgba(0,66,188,1) 0%, rgba(0,30,154,1) 100%);
}
main h4{
    color:  rgb(91, 105, 135);
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    padding: 20px 0;
}
/****** section CUSTUMERS_LOGO */
main .logos {
    width: 100%;
    text-align: center;
}
main .logos .logo_img{
    width: calc(100%/6);
    vertical-align: middle;
    padding: 5px;
        /* border: 10px solid blueviolet; */
}
main #customers_logo a{
    display: block;
    text-align: center;
    padding-bottom: 20px;
}

/******* section DEPLOY */
main #deploy p, 
main #designed p{
    color: #5c6a88;
    font-size: 18px;
    text-align: center;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.3px;
}
main #deploy .pseudo_grid{
    padding: 30px 7%;
        /* border:15px solid  deeppink; */   
}
main #deploy .left_menu,
main #deploy .main_grid{
    text-align: left;
        /* border:3px solid  darkorange; */
}
main #deploy .left_menu{
    float: left;
    width: 20%;
}
main #deploy .left_menu li{
    text-align: left;
    font-weight: 400;
    list-style: none;
    border-left: 2px solid #cccccc;
}
main #deploy .left_menu li a{
    color: #75809a;
    line-height: 50px;
    font-size: 16px;
    padding-left: 15px;
}
main #deploy .main_grid{
    float: right;
    width: 80%;
}
main #deploy .main_grid .grid_item{
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 49%;
    padding: 15px 10px;
}
main #deploy .main_grid .grid_item p{
    text-align: left;
}
main #deploy .main_grid .grid_item h3{
    margin: 20px 0 15px 0;
}
/* main #deploy .main_grid .grid_item:nth-child(2n) {
    margin-left:10px;
        background-color: rgb(102, 103, 104);
} */


/******* section DESIGNED (carousel #1) */
main #designed .carousel{
    width: 80%;
    margin: auto;
    padding-top: 30px;
        /* border:1px solid  dodgerblue; */
}
main #designed .main_carousel{
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 30px;
        /* border:1px solid  greenyellow; */
}
main #designed .side_carousel_sx,
main #designed .side_carousel_dx,
main #designed .main_carousel{
    display: inline-block;
    vertical-align: middle;
    font-size: 50px;
    color: #031c4e;
        /* border:5px solid  rgb(30, 0, 255); */
}
main #designed .carousel .carousel_dots{
    text-align: center;
}
main #designed .carousel_1_img{
    display: inline-block;
    margin: auto;
        /* border:3px  orangered solid; */
}
main #designed .dot {
    cursor: pointer;
    margin: 30px 0;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid  #006aff;
    display: inline-block;
}
main #designed .carousel_dots{
    padding: 20px 0 75px 0;
}
main #designed .full_dot{
    background-color: #006aff;
}

/******* section FEATURES */

main #features .grid_item {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: calc(99%/3);
    padding: 20px;
}

main #features  .grid_item p{
    text-align: left;
}
main #features  .grid_item h3{
    margin: 20px 0 15px 0;
}

/* ******* section SERVICES */
main #services .content_services{
    padding-bottom: 30px;
}
main #services h2, 
main #get_started h2{
    color: white;
}
main #services .fake_table{
    display: inline-block;
    width: 49%;
    padding: 8px;
}
main #services .fake_table .single_line:last-of-type{
    border-bottom: none;
}
main #services .single_line{
    position: relative;
    font-size: 10px;
    /* background-color: aqua; */
    border-bottom: 1px solid  white;
}
main #services .test_speed, .location, .flight_codes, .code {
    line-height: 30px;
    margin: 4px;
}
main #services .flight_codes{
    float: left;
    width: 40px;
    text-transform: uppercase;
    color: white;
}
main #services .location{
    float: left;
    padding-left: 40px;
    color: #bac7e9;
}
main #services p {
    text-transform: capitalize;
    margin: 0;
}
main #services .test_speed{
    margin-right: 20px;
    float: right;
}
main #services a{
    text-decoration: none;
    color:#00d7d2 ;
}
main #services .space{
    visibility: hidden;
}
/******* section get_started */

main #get_started{
    height: 255px;
}
main .btn_create_account{
    font-size: 15px;
    display: block;
    margin: auto;
    background-color: white;
    padding: 10px 20px;
    border: none;
    color: #006aff;
    margin-bottom: 50px;
    border-radius: 5px;
}





/* ! RESPONSIVE */ 
/* ! Il sito ha 3 misure :   */ 
/* ! Small = 0-500px         */
/* ! Medium = 501-777px      */
/* ! Large = 778-2000px      */

/* header_top hamburger menu */
/* @media screen and (max-width:1023px){
    
} */


/* jumbotron SMALL 0-500 */
@media screen and (max-width: 500px ) {
    main .logos .logo_img{
        width: calc(100%/3);
        vertical-align: middle;
        padding: 10px;
            /* border: 10px solid blueviolet; */
    }
    main #deploy .pseudo_grid {
        padding: 10px;
            /* border: 15px solid deeppink; */
    }
    main #deploy .left_menu{
        float: none;
        display: block;
        padding: 40px 0 20px 0;
        width: 100%;
    }
    main #deploy .main_grid {
        float: none;
    }
    main #deploy .main_grid .grid_item{
        display: block;
        width: 100%;
            /* background-color: rgb(102, 103, 104); */
    }
    main #services .fake_table{
        display: inline-block;
        width: 100%;
        padding: 8px;
    }
 
}

/* jumbotron MEDIUM 500-778 */
@media screen and (min-width: 500px) and (max-width:777px) {
    main #services .fake_table{
        display: inline-block;
        width: 100%;
        padding: 8px;
    }
}