@import "header.css";
@import "main.css";
@import "footer.css";
@import "extra.css";

/* ?  RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* debugging: */
/* if it's green is not formatted */ 
/* if it's red, the background is showing*/
/*
 body{
    color: greenyellow;
    background-color: red;
}  
*/

/* ?COMMON ELEMENTS */
section{
    padding-top: 30px;
}
h1{
    font-size: 58px;
    color: white;
}
h2{
    font-size: 30px;
    text-align: center;
    padding: 60px 0 20px 0;
    color:#031c4e ;
}
h3{
    color:#031c4e ;
}
main h4{
    color:  rgb(91, 105, 135);
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    padding: 20px 0;
}

/* ?  FONTS */
body{
    font-family: 'Roboto', sans-serif;
} 
a {
    text-decoration: none;
}
.bolder{
    font-weight: 800;
}
.bold{
    font-weight: 500;
}

/* ?COLORS */
.bg_grey{
    background-color:#f3f5f9 ;
}

.bg_gradient{
    background: rgb(0,66,188);
    background: linear-gradient(180deg, rgba(0,66,188,1) 0%, rgba(0,30,154,1) 100%);
}
.colored_h3 {
    color: #006aff;
}
.bg_white{
    background-color: white;
}
.c_white{
    color: white;
}

.c_primary{
    color: #006aff;
}
.c_secondary{
    color: #031c4e;
}
.c_secondary_light{
    color: #bbcbfd;
}
/* ?GLOBAL ESSENTIAL CLASSES   */
.width{
    max-width: 1170px;
    margin: auto;
}
.clearfix::after{
    display: block;
    clear: both;
    content: "";
}

/*  SMALL 0-500 */
@media screen and (max-width: 777px ) {
    h1{
        font-size: 36px;
    }
}