@import "header.css";
@import "main.css";
@import "footer.css";

/* debugging (if it's grey or green is not formatted) */

body{
    font-family: 'Roboto', sans-serif;
    
    height: 10000px;
    color: greenyellow;
} 
a {
    text-decoration: none;
}
h2{
    font-size: 30px;
    text-align: center;
    padding: 60px 0 20px 0;
}
.colored_h3 {
    color: #006aff;
}
.c_primary{
    color: #006aff;
}
.c_secondary{
    color: #bbcbfc;
}
.clearfix::after{
    display: block;
    clear: both;
    content: "";
}
/* 
Fino ai 1024 hamburger menu
Dai 1024 in su full header_top
max-width: 1140px;
max-width: 720px;
max-width: 480px;

colors:
h1: white
h2-h6: #031c4e
text #5b6987
*/