body{
    padding: 50px;
    background-color: blueviolet;
}

.fake_table{
    display: inline-block;
    width: 49%;
}
.fake_table .single_line:last-of-type{
    border-bottom: none;
}
.single_line{
    position: relative;
    font-size: 10px;
    /* background-color: aqua; */
    border-bottom: 1px solid  white;
}
.test_speed, .location, .flight_codes, .code {
    line-height: 30px;
    margin: 4px;
}

.flight_codes{
    float: left;
    text-transform: uppercase;
    color: white;
}
.location{
    float: left;
    padding-left: 40px;
    color: #bac7e9;
}

p {
    margin: 0;
}
.test_speed{
    margin-right: 20px;
    float: right;
}
a{
    text-decoration: none;
}
.space{
    visibility: hidden;
}


.clearfix::after{
    display: block;
    clear: both;
    content: "";
}
